body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff; }

h1,
h2 {
  color: red;
  text-align: center; }

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 20px; }

ul li:not(:last-child) {
  margin-bottom: 10px; }
